.Participants table {
    border-collapse: collapse;
    width: 100%;
    border-left: 0;
}

.Participants table th {
    background-color: #dddddd;
}

.Participants table th, td {
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}

.Participants table th:first-child, td:first-child {
    border-left: 0;
}

.Participants table th:last-child, td:last-child {
    border-right: 0;
}

.Participants th:nth-child(4), td:nth-child(4) {
    font-weight: bold;
}

.Participants th:nth-child(5), td:nth-child(5) {
    font-weight: bold;
}