.DarkBackground {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* doesn't make content transparent */
    z-index: 999;
    visibility: hidden;
}

.box {
    padding: 10px;
}